@import "src/styles/app/common/variables";
@import "src/styles/app/common/mixins";


.table-subscription {
  text-align: center;

  .add-county {
    background-color: $standard-color;
    color: $secondary;
    padding: .2rem .8rem;
    cursor: pointer;
    @include flex-center;
    width: 90%;
    margin: .1rem auto;
    border-radius: $radius;
    font-size: .9rem;
    transition: $transition;
    box-shadow: $light-shadow;

    &:hover {
      background-color: $success;
      box-shadow: $dark-shadow;
      transform: translate3d(0, -1px, 0);
    }
  }

  .standard {
    cursor: pointer;
    background-color: $standard-color;
    color: $secondary;
    text-align: center;
    font-size: .9rem;
    border-radius: $radius;
    padding: .2rem .8rem;
    margin-bottom: 0;
    transition: $transition;
    box-shadow: $light-shadow;

    &:hover {
      background-color: $main-blue;
      box-shadow: $dark-shadow;
      transform: translate3d(0, -1px, 0);
    }
  }

  .pro {
    background-color: $pro-color;
    color: $secondary;
    text-align: center;
    font-size: .9rem;
    border-radius: $radius;
    padding: .2rem .8rem;
    margin-bottom: 0;
    transition: $transition;
    box-shadow: $light-shadow;
    cursor: pointer;

    &:hover {
      background-color: $success;
      box-shadow: $dark-shadow;
      transform: translate3d(0, -1px, 0);
    }
  }

  .free {
    background-color: $free-color;
    color: $secondary;
    text-align: center;
    font-size: .9rem;
    border-radius: $radius;
    padding: .2rem .8rem;
    margin-bottom: 0;
    transition: $transition;
    box-shadow: $light-shadow;
    cursor: pointer;

    &:hover {
      background-color: $success;
      box-shadow: $dark-shadow;
      transform: translate3d(0, -1px, 0);
    }
  }

  .inactive {
    background-color: $danger;
    color: $secondary;
    text-align: center;
    font-size: .9rem;
    border-radius: $radius;
    padding: .2rem .8rem;
    margin-bottom: 0;
    transition: $transition;
    box-shadow: $light-shadow;
    cursor: pointer;
    //animation: prelungire 6s ease-out infinite;

    &:hover {
      background-color: $success;
      box-shadow: $dark-shadow;
      transform: translate3d(0, -1px, 0);
    }
  }

  //@keyframes prelungire {
  //  0% {
  //    transform: scale(1);
  //  }
  //  10% {
  //    transform: scale(1.01);
  //    background-color: #c70000 ;
  //  }
  //  20% {
  //    transform: scale(1.02);
  //    background-color: #bd0000 ;
  //  }
  //
  //  30% {
  //    transform: scale(1.03);
  //    background-color: #b80000 ;
  //  }
  //  40% {
  //    transform: scale(1.04);
  //    background-color:  	#a80000 ;
  //  }
  //
  //  50% {
  //    transform: scale(1.05);
  //    background-color: $danger;
  //  }
  //  60% {
  //    transform: scale(1.04);
  //    background-color: #cc0000 ;
  //  }
  //
  //  70% {
  //    transform: scale(1.03);
  //    background-color:  	#d10000 ;
  //  }
  //  80% {
  //    transform: scale(1.02);
  //    background-color:  	#e60000 ;
  //  }
  //  90% {
  //    transform: scale(1.01);
  //    background-color: $danger-dark;
  //  }
  //
  //  100% {
  //    transform: scale(1);
  //  }
  //}

}

.abonamente-info {
  padding: 2rem 1rem;
}

//@media screen and (max-width: $small) {
//  font-size: .6rem;
//  padding: .1rem .3rem;
//}
