@import "src/styles/app/common/variables";
@import "src/styles/app/common/mixins";


.statistici-perioada{
  width: 80%;
  margin: 0 auto;
  .cauta-perioada{
    margin: .5rem 0 0 0;
   text-align: center;
    color: $dark-font;
    font-weight: bold;
  }
}
