@import "src/styles/app/common/mixins";
@import "src/styles/app/common/variables";

.page-numbers{
  @include flex-center;
  list-style-type: none;
  padding: .2rem;
  margin: .1rem;
  text-decoration: none;
  li {
    padding: .2rem;
    margin: .2rem;
    border-radius: $radius;

    &:hover {
      background-color: $standard-color;
      color: $secondary !important;
    }

    @media (max-width: $tablet-md) {
      padding: .5rem;
      margin: .5rem;
    }
    @media (max-width: $tablet) {
      padding: .5rem;
      margin: .5rem;
    }
    @media (max-width: $sm) {
      padding: .3rem;
      margin: .3rem;
    }
  }
  .active-number{
    background-color: $standard-color;
    color: $secondary !important;
  }
}
