@import "src/styles/app/common/mixins";
@import "src/styles/app/common/variables";

.page-numbers{
  @include flex-center;
  list-style-type: none;
  padding: .2rem;
  margin: .2rem;
  text-decoration: none;
  li {
    padding: .2rem .5rem 0 .5rem;
    margin: .5rem;
    border-radius: $radius;
    //@include flex-center;

    &:hover {
      //background-color: $light-grey1;
      color: $btn-secondary-color !important;
    }

    @media (max-width: $tablet-md) {
      padding: .5rem;
      margin: .5rem;
    }
    @media (max-width: $tablet) {
      padding: .5rem;
      margin: .5rem;
    }
    @media (max-width: $sm) {
      padding: .3rem;
      margin: .3rem;
    }
  }
  .active-number{
    background-color: red;
    color: $secondary !important;
  }
  .prev-btn{
    border-radius: $radius;
    background-color: $light-grey1;
    color: $btn-secondary-color !important;
    outline: none;
    border: transparent;

  }
  .next-btn{
    border-radius: $radius;
    background-color: $light-grey1;
    color: $btn-secondary-color !important;
    outline: none;
    border: transparent;

  }
}
