@import "src/styles/app/common/variables";
.formular-lucrari{
  padding: 2rem;
  .lucrari-individuale{
    padding: .5rem;
  }
  .lucrare{
    background-color: $secondary ;
    padding: .2rem;
    &:hover{
      background-color:lighten($light-grey1, 7%);
      transition: $transition;
    }
  }
  .btn-lucrari{
    padding: .5rem;
  }
}

